In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
data=pd.read_csv('/Users/apple/Desktop/Tollywood/table-1 (1).csv')
data.head()

,Opening,Opening.1,Title,Director,Cast,Genre,Production,Ref
0,JAN,4,Ajay Passayyadu,Prem deepak,"Aman Singh, Jhansi, Sai Ketan, Sivannarayana",Drama,NaN,[4][5]
1,JAN,4,Natana,Bharathi Babu,"Bhanuchander, Mahidar, Sravya Rao, Raghu Babu,...",Drama,NaN,[6][7]
2,JAN,9,N.T.R: Kathanayakudu,Krish,"Nandamuri Balakrishna, Vidya Balan, Rana Daggu...",Biographical film,NaN,[8][9]
3,JAN,11,Vinaya Vidheya Rama,Boyapati Srinu,"Ram Charan, Kiara Advani, Vivek Oberoi, Mahesh...",Action,NaN,[10][11]
4,JAN,12,F2 – Fun and Frustration,Anil Ravipudi,"Venkatesh, Varun Tej, Tamannaah Bhatia, Mehree...",Family-Comedy,NaN,[12]

In [23]:
aa=data['Title']
array=list(aa)
array

['Ajay Passayyadu',
 'Natana',
 'N.T.R: Kathanayakudu',
 'Vinaya Vidheya Rama',
 'F2 – Fun and Frustration',
 'Kothaga Naa Prayanam',
 'Mr. Majnu',
 'Akkadokaduntadu',
 'Bichagada Majaka',
 'Gamer',
 'Sakala Kala Vallabhudu',
 'Nuvvu Thopu Raa',
 'Yatra',
 '4 Letters',
 'Mithai',
 'N.T.R: Mahanayakudu',
 'Prementha Panichese Narayana',
 'Akkadokaduntadu',
 '118',
 'Aa Nimisham',
 'Ashok Reddy',
 'Bilalpur Police Station',
 'College Poragallu',
 'Jessie',
 'Magnet',
 'Manasa Vaacha',
 'Pranam Khareedu',
 'Where Is The Venkatalakshmi',
 'Prematho Cheppana',
 'Adhrushyam',
 'Cheddi Gang',
 'Chikati Gadilo Chithakotudu',
 'Vinara Sodara Veera Kumara',
 "Lakshmi's NTR",
 'Suryakantham',
 'Majili',
 'Prema Katha Chitram 2',
 'Chitralahari',
 'Runam',
 'Jersey',
 'Danger Love Story',
 'Diksoochi',
 'Duppatlo Minnagu',
 'Arjun Suravaram',
 'Nuvvu Thopu Raa',
 'Okate Life',
 'Rangu Paduddi',
 'Maharshi',
 'ABCD – American Born Confused Desi',
 'Enthavaraalaina',
 'Romantic Criminals',
 'Swayamvadha',
 'Sita',
 'Abhinetri 2',
 'December 31',
 'Falaknuma Das',
 'Seven',
 'Ek',
 'Game Over',
 'Vajra Kavachadhara Govinda',
 'Viswamitra',
 '1st Rank Raju',
 'Agent Sai Srinivasa Athreya',
 'Mallesham',
 'Special - The Story of a Mind Reader',
 'Voter',
 'Brochevarevaru Ra',
 'Captain Rana Prathap',
 'Kalki',
 'Prema Janta']